        /*SELECTOR DE ELEMENTO. Selecciona a todos los elementos párrafos y les aplica los siguientes estilos:*/
        /*
        p{
            color: rgba(0,0,255,0.5); 
            font-size: 30px; 
            padding: 10px 20px;
        }
        */
        /*SELECTOR DE CLASE*/
        
        .idea-principal {
            color: rgba(0, 0, 255, 0.5);
            font-size: 30px;
            padding: 10px 20px;
        }
        /*SELECTOR DE ID*/
        
        #software {
            color: red;
        }
        
        #fondo_rama {
            background-color: rgba(0, 255, 0, 0.5);
        }
        
        #tarea {
            color: blue;
        }
        
        #desarrollador {
            color: red;
        }
        
        #estructura {
            /*Si haces referencia a todo el texto puedes usar tambien la etiqueta body*/
            margin: 0;
            padding-left: 20%;
            padding-right: 20%;
            background-color: aliceblue;
        }
        
        b {
            color: rgb(13, 197, 13);
        }
        
        * {
            font-family: 'Anaheim', sans-serif;
        }
        
        ol li p {
            background-color: rgba(250, 247, 85, 0.699);
        }